@font-face {
    font-family: 'Clear Sans';
    /* название одно */
    src: url('../fonts/ClearSans-Regular.woff');
    /* разные файлы */
    font-weight: 400;
    /* разная плотность */
    font-style: normal;
}

body {
    background-color: #fff;
    max-width: 1600px;
    margin: auto;
    font-family: "Clear Sans";
    font-weight: 300;
    color: #323232;
}

header {
    background-color: #ebebeb;
    text-align: right;
    padding-right: 217px;
}


/********** header ********/

.social {
    margin: 0;
    padding: 15px 0;
    display: inline-block;
    line-height: 1;
}

.social li {
    display: inline-block;
}

.social li a {
    background-image: url(../img/social.png);
    width: 25px;
    height: 17px;
    display: inline-block;
}

.instagram {
    background-position: 0 0;
}

.vk {
    background-position: 97px 0;
}

.fb {
    background-position: 60px 0;
}

.youtube {
    background-position: 25px 0;
}

#lang {
    display: inline-block;
    color: #444444;
    font-size: 14px;
    font-weight: 400;
    line-height: 36px;
    padding-left: 88px;
}

#lang .dropdown-menu {
    z-index: 2000;
}

#lang li {
    display: inline-block;
}

#lang a {
    color: #444444;
    font-family: "Clear Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 36px;
}


/********** nav **************/

.navbar-default {
    background-color: #323232;
    margin: 0;
}

.navbar-brand {
    height: auto;
    padding: 0 0 0 213px;
}

.navbar-brand img {
    margin: 14px 0 18px;
}

.navbar-default .navbar-nav>li>a {
    padding-top: 25px;
    padding-bottom: 26px;
}

.navbar-default .navbar-nav li a {
    font-size: 15px;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
    color: #ffffff;
}

.navbar-default .navbar-nav li {
    list-style-type: none;
    cursor: pointer;
}

.navbar-default .navbar-nav li a:focus, .navbar-default .navbar-nav li a:hover {
    color: #f6871f;
    text-decoration: none;
}

.navbar-default .navbar-nav>li.active>a, .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #f6871f;
    background-color: initial;
}

.navbar-nav {
    padding: 0 215px 0 0;
    float: right;
}

.nav>li>a:last-child {
    padding-right: 0;
}

.navbar-default .navbar-nav li ul {
    display: none;
    background-color: #505050;
    padding: 16px 13px 22px 19px;
    width: 272px;
}

.navbar-default .navbar-nav li:hover ul {
    display: block;
    position: absolute;
    top: 67px;
}

.navbar-default .navbar-nav ul li a {
    line-height: 36px;
}


/********************** slider ******************/

.slide {
    width: 100%;
    height: 664px;
    background-position-x: right;
    background-size: cover;
}

.text-on-slide {
    width: 513px;
    margin-right: 54%;
    margin-top: 112px;
    float: right;
}

.slide-caption {
    font-size: 80px;
    font-weight: 700;
    line-height: 55px;
}

.slide-text {
    font-size: 26px;
    font-weight: 300;
    line-height: 34px;
    margin: 40px 0;
}

.button-more {
    background-color: #f6871f;
    color: #ffffff;
    font-family: "Clear Sans";
    font-size: 26px;
    line-height: 51px;
    padding: 8px 18px;
}


/**************** section1 ****************************/

.section1 {
    margin-top: 95px;
    margin-bottom: 95px;
}

.h3 {
    font-size: 40px;
    line-height: 55px;
    margin-bottom: 130px;
}

.h3 strong {
    font-weight: 700;
}

.container {
    width: 1170px;
}

.image-with-text {
    display: table;
}

.image-with-text .image {
    display: table-cell;
    height: 200px;
    vertical-align: middle;
    margin-bottom: 65px;
}

.image-with-text .text {
    display: table-row;
    font-size: 18px;
    line-height: 28px;
}

.image-with-text .caption {
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 50px;
}


/***********************************************/

.two-blocks {
    background-color: #ebebeb;
    padding: 0;
}

.two-blocks .image-container {
    display: table;
    width: 100%;
}

.two-blocks .image {
    display: table-cell;
    margin: auto;
    height: 600px;
    vertical-align: middle;
}

.two-blocks .caption {
    font-size: 80px;
    line-height: 55px;
}

.two-blocks p {
    font-size: 23px;
    margin-top: 39px;
    line-height: 36px;
}

.two-blocks .normal {
    padding: 111px 0 111px 195px;
}

.two-blocks .inverse {
    padding: 111px 195px 111px 0;
    background-color: #323232;
    color: #fff;
}


/*********************** section3 ************/

.section3 {
    padding: 111px 0 180px;
}

.section3 .container {
    padding: 0;
}

.section3 .h3 {
    margin-bottom: 110px;
}

.section3 a {
    color: #323232;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    display: inline-block;
}

.section3 .image {
    margin: 0 -15px;
    display: block;
}

.section3 .image::after {
    content: "";
    display: block;
    background-image: url(../img/ship.png);
    margin: auto;
    width: 50px;
    height: 51px;
    margin: 10px auto;
}


/*************** section4 **************/

.section4 {
    background-color: #323232;
    padding: 93px 0 190px;
    color: #fff;
}

.section4 .h3 {
    font-size: 80px;
    line-height: 55px;
    margin-bottom: 70px;
    margin-top: 0;
}

.section4 .text {
    font-size: 36px;
    line-height: 52px;
    padding-bottom: 90px;
}

.section4 .text a {
    font-size: 26px;
    line-height: 16px;
    color: #f6871f;
    text-decoration: none;

}
.section4 .image-left{
padding-right: 100px;
padding-top: 20px;
}
